
body
{
overflow-x: hidden;
font-size: 30px;
color:blue;
background-color:black;
z-index:1;
height:100%;
width:100%;
animation-name:brightness;
animation-duration:0.3s;
animation-name:turn-off;
animation-duration:0.3s;
animation-direction:reverse;
}
.wrapper {
  height: calc(100vh - 70px);
  min-height: 100%;
}
@font-face {
    font-family: "VT323";
    src: url(fonts/VT323.ttf) format("truetype");
  }

.horialign
{
  position: relative;
  display:flex;
  min-width:80%;
  max-width:100%;
  flex-wrap: wrap-reverse;
  min-height:220px;
}

.textzone
  {
    background-color: grey;
    color:black;
    font-family:VT323;
    font-size: 25px;
    max-width:45.5%;
    margin-left:5%;
    padding-top:0.9%;
    margin-bottom:1%;
    padding-left:1.5%;
    position:relative;
    border-width:4px;
    border-top-width:20px;
    border-color:#cc8b00;
    border-style:ridge;
    border-top-style:solid;
    flex-grow:1;
  }
.textzone p1{
    color:black;
    font-family:VT323;
    font-size: 25px;
   }

 #button
{
position:absolute;
height:17px;
width:auto;
top: -18px;
right: 0px;
}
