body
{font-size: 30px;
 color:blue;
background-color:black;
position:fixed;}

@font-face {
    font-family: "VT323";
    src: url(fonts/VT323.ttf) format("truetype");
  }
.animate
{}

.textzone
  {
    background-color: grey;
    color:black;
    font-family:VT323;
    font-size: 25px;
    width:60%;
    margin-left: 5%;
    float:left;
    padding-top:0.9%;
    margin-bottom:1%;
    padding-left:1.5%;
    clear:both;
    position:relative;
    border-width:4px;
    border-top-width:20px;
    border-color:#cc8b00;
    border-style:ridge;
    border-top-style:solid;
  }
.textzone p1{
    color:black;
    font-family:VT323;
    font-size: 25px;
   }

 #button
{
position:absolute;
height:17px;
width:auto;
top: -18px;
right: 0px;
}
